################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/How to Host a Discord Bot on Heroku for Free - Discord.py Rewrite Tutorial #5-BPvg9bndP1U.mp3
/LG V10 _ Quick Video Editor-Alr9jgMM8rs.mp3
/Maroon 5 - Girls Like You ft. Cardi B (Official Music Video)-aJOTlE1K90k.mp3
/Maroon 5 - Memories (Official Video)-SlPhMPnQ58k.mp3
/might quit-mpkf_p71rKY.mp3
/and the day goes on-NHZr6P1csiY.mp3
/music/queue
.env
